@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(hsl(275,100%,87%), hsl(42,100%,70%));
    padding: 0 20px; 
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
}

/*---------------- content ------------------*/

.content {
    max-width: 650px;
    width: 100%;
    margin-bottom: 20px;
    font-family: cursive;
    color: hsl(10, 30%, 13%);
}

.content h1 {
    font-size: 70px;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

.content p {
    text-align: left;
}

/*------------------- input ----------------------*/

form {
    max-width: 650px;
    width: 100%;
    background: hsl(5,24%,94%);
    color: hsl(23,19%,40%);
    border-radius: 4px;
    padding: 10px;
}

.input-box {
    display: flex;
    position: relative;
    height: 30px;
    align-items: center;
}

.input-box input {
    height: 100%;
    outline: none;
    border: 2px solid hsl(5,35%,58%);
    border-radius: 4px;
    color: hsl(10, 30%, 13%);
    font-size: 12px;
    font-weight: 500;
    padding: 0 30px;
    transition: all 0.3s ease;
}

.input-box input.input {
    width: 75%;
    margin-right: 25px;
}

form.valid .input-box input.input {
    border-color: hsl(225,96%,65%);
}

.input-box input.input:focus {
    border-color: hsl(225,96%,65%);
}

form.error input.input {
    border-color: hsl(357, 58%, 48%);
}

.input-box input.button {
    width: 100px;
    padding: 0;
    background: hsl(5, 12%, 76%);
    border: none;
    cursor: pointer;
}

.input-box input.button:hover {
    background: hsl(225,96%,65%);
    color: #fff;
}

.input-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box i.email-icon {
    color: hsl(5, 12%, 76%);
    left: 10px;
    transition: all 0.3s ease;
}

form.valid i.email-icon {
    color: hsl(225,96%,65%);
}

.input-box input.input:focus ~ i.email-icon {
    color: hsl(225,96%,65%);
}

.input-box .error-icon,
.input-box .passed-icon {
    color: hsl(357, 58%, 48%);
    left: calc(75% - 30px);
    display: none;
}

form.error .error-icon {
    display: block;
}

.input-box .passed-icon {
    color: hsl(225,96%,65%);
}

form.valid .passed-icon {
    display: block;
}

form .text {
    color: hsl(357, 58%, 48%);
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 -5px 5px;
}

form.valid .text {
    color: hsl(225,96%,65%);
}